ENVIRONMENT=dev

POSTGRES_USER=obs_admin
POSTGRES_PASSWORD=1234qqqQ!
POSTGRES_DB=observability_core

CLICKHOUSE_USER=obs_admin
CLICKHOUSE_PASSWORD=1234qqqQ!
CLICKHOUSE_DB=observability_flows

REDIS_URL=redis://redis:6379
